<h1>Your Liked Recipes</h1>
<ul>
  <% if @liked_recipes.present? %>
    <% @liked_recipes.each do |liked_recipe| %>
      <%= render partial: 'recipes/recipe', locals: { recipe: liked_recipe.recipe } %>
    <% end %>
  <% else %>
    <p>No liked recipes found. Swipe on some recipes!</p>
  <% end %>
</ul>