body {
  overflow: hidden;
}


.notice, .alert {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}


.welcome-container {
  overflow: hidden;
  position: relative; /* Positioning context for the overlay */
  text-align: center;
  padding: 50px;
  background-image: url('/assets/background3.png'); /* Your background image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Full height of the viewport */
  color: white;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 50%, transparent 100%); /* For Safari */
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 50%, transparent 100%); /* For other browsers */
}

  .welcome-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .welcome-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .welcome-container .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  